h1 {
    border: solid, red, 4px;
    color: orange;
    background-color: blueviolet;
    padding-left: 35%;
}
p.blocktext {
    margin-left: 59%;
    margin-right: auto;
    width: 6em;
}
a.register {
    background-color: rgba(0, 0, 0, 0.735);
    color: rgb(4, 220, 0);
    margin-left: 80%;
    font-size: xx-large;

}
body{
    background: url("../images/2.jpg") no-repeat ;
    background-size:cover ;
}